@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Oswald, sans-serif;
  background-image: url('../img/background.jpg');
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

header {
  position: relative;
  width: 80%;
  min-height: auto;
  color: #000;
  margin: auto;
  background-color: white;
}

header img {
  display: inline-block;
  float: left;
  width: 170px;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  text-transform: uppercase;
}

header h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  text-transform: capitalize;
}

nav {
  background: #b22234;
  height: 80px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active, a:hover {
  background: #3c3b6e;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: #ffffff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

main {
  margin: auto;
  width: 80%;
  background-color: #ffffff;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

/* home page */
#flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

#video-container {
  flex: 1;
  padding: 10px;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

#product-container {
  flex-basis: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#aside-container {
  flex-basis: 30%;
  padding: 20px;
}

#video-container video {
  width: 60%;
  height: auto;
}

#index-article1 {
  order: 1;
  padding: 10px;
}

#index-article1 header {
  font-size: 20px;
  padding: 10px;
}

.button1 {
  background-color: #b22234;
  padding: 10px;
}

#index-article1 img {
  width: 150px;
  float: right;
  padding: 10px;
}

#section-article1 {
  height: 100px;
}

#article-copyright1 {
  padding: 20px;
  float: left;
  display: block;
}

#index-article2 {
  order: 2;
  padding: 10px;
}

#index-article2 header {
  font-size: 20px;
  padding: 10px;
}

.button2 {
  background-color: #b22234;
  padding: 10px;
}

#index-article2 img {
  width: 150px;
  float: right;
  padding: 10px;
}

#section-article2 {
  height: 100px;
}

#article-copyright2 {
  padding: 20px;
  float: left;
  display: block;
}

#index-article3 {
  order: 3;
  padding: 10px;
}

.button3 {
  background-color: #b22234;
  padding: 10px;
}

#index-article3 header {
  font-size: 20px;
  padding: 10px;
}

#index-article3 img {
  width: 150px;
  float: right;
  padding: 10px;
}

#section-article3 {
  height: 100px;
}

#article-copyright3 {
  padding: 20px;
  float: left;
  display: block;
}

#index-aside {
  text-align: center;
}

#index-aside h2 {
  font-size: 25px;
  padding: 10px;
  list-style-position: inside;
}

#index-aside ol {
  list-style-position: inside;
  display: inline-block;
  text-align: left;
  font-size: 20px;
}

/* eu solar page */
#solar-article {
  text-align: center;
  padding: 20px;
}

#countrytable {
  grid-area: tableEU;
}

#solar-article {}

#toptable {
  background-color: #3c3b6e;
  color: #FFF;
}

td:first-child {
  background-color: #b22234;
  color: white;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #8191ff;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #c5c7eb;
  text-align: center;
}

#eugrid {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 3px;
  grid-template-areas:
    "solar-article solar-article"
    "countrytable   eusolar-aside1"
    "countrytable   eusolar-aside1"
    "countrytable   eusolar-aside2"
    "countrytable   eusolar-aside2"
    "countrytable   eusolar-aside3"
    "copyright-eurostat eusolar-aside3";
}

#countrytable {
  grid-area: countrytable;
}

#solar-article {
  height: auto;
  grid-area: solar-article;
}

.aside-img {
  height: auto;
  width: 200px;
  margin: auto;
  display: block;
}

#eusolar-aside1 {
  grid-area: eusolar-aside1;
  width: auto;
  height: auto;
  text-align: center;
}

#eusolar-aside1 a {
  background-color: #ffffff;
}

#eusolar-aside2 {
  width: auto;
  height: auto;
  grid-area: eusolar-aside2;
  text-align: center;
}

#eusolar-aside2 a {
  background-color: #ffffff;
}

#copyright-eurostat {
  grid-area: copyright-eurostat;
}

#eusolar-aside3 {
  width: auto;
  height: auto;
  grid-area: eusolar-aside3;
  text-align: center;
}

#eusolar-aside3 a {
  background-color: #ffffff;
}

/* contact page*/
#contact-grid {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 3px;
  grid-template-areas:
    "contact-toparticle contact-toparticle"
    "contact-title   contact-title"
    "contactform   contact-aside1"
    "contactform   contact-aside1"
    "contactform   contact-aside2"
    "contactform   contact-aside2"
    "contactform   contact-aside3"
    "contactform   contact-aside3";
}

#contactform {
  grid-area: contactform;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#contact-toparticle {
  margin: auto;
  grid-area: contact-toparticle;
  padding: 15px;
}

#contact-toparticle h1 {
  font-size: 30px;
  padding: 20px;
}

#toparticleinfo {
  margin: auto;
  width: 300px;
}

.company {
  font-weight: bold;
}

#contact-aside1 {
  grid-area: contact-aside1;
  margin: auto;
  padding: 25px;
}

#contact-aside2 {
  grid-area: contact-aside2;
  margin: auto;
  padding: 25px;
}

#contact-aside3 {
  grid-area: contact-aside3;
  margin: auto;
  padding: 25px;
}

.imgcontactaside {
  height: auto;
  width: 200px;
  margin: auto;
  display: block;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

input[type=text], input[type=email], input[type=Tel], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=submit] {
  background-color: #b22234;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

input[type=submit]:hover {
  background-color: #3c3b6e;
}

#contact-aside {
  grid-area: contact-aside;
}

/* how solar works page */
#gridsolarworks {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-areas:
    "solarworks-article2 solarworks-article1 solarworks-article3"
    "solarworks-article2 solarworks-article1 solarworks-article3"
    "solarworks-article5 solarworks-article1 solarworks-article3"
    "solarworks-article5 solarworks-article1 solarworks-article4"
    "solarworks-article5 solarworks-article1 solarworks-article4"
    "solarworks-article5 solarworks-article6 solarworks-article6"
    "solarworks-aside1 solarworks-aside2 solarworks-aside3"
    "solarworks-aside1 solarworks-aside2 solarworks-aside3";
    grid-gap: 5px;
}

#solarworks-article1 {
  grid-area: solarworks-article1;
  padding: 10px;
}

#solarworks-article2 {
  grid-area: solarworks-article2;
  padding: 10px;
}

#solarworks-article3 {
  grid-area: solarworks-article3;
  padding: 10px;
}

#solarworks-article4 {
  grid-area: solarworks-article4;
  padding: 10px;
}

#solarworks-article5 {
  grid-area: solarworks-article5;
  padding: 10px;
}

#solarworks-article6 {
  grid-area: solarworks-article6;
  padding: 10px;
}

.solarworks-img {
  height: auto;
  width: 80px;
  margin: auto;
  display: block;
}

.solarworks-img2 {
  height: auto;
  width: 170px;
  margin: auto;
  display: block;
}

#solarworks-aside1 {
  grid-area: solarworks-aside1;
  margin: auto;
}

#solarworks-aside2 {
  grid-area: solarworks-aside2;
  margin: auto;
}

#solarworks-aside3 {
  grid-area: solarworks-aside3;
  margin: auto;
}

/* General footer */
#footer-bottom {
  display: flex;
  flex-direction: row;
  background: #b22234;
  height: 80px;
  width: 80%;
  margin: auto;
}

#footer-right {
  float: right;
  width: 30%;
  height: 80px;
  opacity: 50%;
  background-color: #FA0;
  text-align: center;
}

#footer-right h2 {
  font-weight: normal;
  font-size: 20px;
  color: #FFF;
  margin-top: 25px;
}

#footer-left {
  width: 70%;
  float: left;
  background-color: #b22234;
}

#footer-left h2 {
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  margin-left: 30px;
  margin-top: 25px;
}

@media (max-width: 1279px) {
  header {
    width: 100%;
  }

  header img {
    width: 130px;
  }

  header h1 {
    font-size: 35px;
  }

  header h2 {
    font-size: 20px;
  }

  nav ul li a {
    font-size: 15px;
  }

  main {
    width: 100%;
  }

  /* home page */
  #flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  #video-container {
    order: 2;
    flex: 1;
    flex-basis: 100%;
  }

  #product-container {
    order: 3;
    flex-basis: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  #aside-container {
    order: 1;
    flex-basis: 100%;
  }

  #video-container video {
    width: 100%;
    height: auto;
  }

  #index-article1 {
    order: 3;
    padding: 10px;
  }

  #index-article1 h1 {
    text-align: center;
    padding: 10px;
  }

  #index-article1 img {
    width: 150px;
    float: left;
    padding: 10px;
  }

  #index-article2 {
    order: 2;
    padding: 10px;
  }

  #index-article2 h1 {
    text-align: center;
    padding: 10px;
  }

  #index-article2 img {
    width: 150px;
    float: left;
    padding: 10px;
  }

  #index-article3 {
    order: 1;
    padding: 10px;
  }

  #index-article3 h1 {
    text-align: center;
    padding: 10px;
  }

  #index-article3 img {
    width: 150px;
    float: left;
    padding: 10px;
  }

  #index-aside {
    text-align: center;
  }

  #index-aside h1 {
    font-size: 25px;
    list-style-position: inside;
  }

  #index-aside ol {
    list-style-position: inside;
    display: inline-block;
    text-align: left;
    font-size: 20px;
  }

  /* contact page */
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  #contact-grid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 3px;
    grid-template-areas:
      "contact-toparticle contact-toparticle"
      "contactform   contact-aside"
      "contactform   contact-aside1"
      "contactform   contact-aside1"
      "contactform   contact-aside2"
      "contactform   contact-aside2"
      "contactform   contact-aside3"
      "contactform   contact-aside3";
  }

  /* how solar works page */
  #gridsolarworks {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
    grid-template-areas:
      "solarworks-article1 solarworks-article2"
      "solarworks-article1 solarworks-article2"
      "solarworks-article3 solarworks-article2"
      "solarworks-article3 solarworks-article5"
      "solarworks-article3 solarworks-article5"
      "solarworks-article3 solarworks-article5"
      "solarworks-article6 solarworks-article6"
      "solarworks-article6 solarworks-article6"
      "solarworks-aside1 solarworks-aside2"
      "solarworks-aside1 solarworks-aside2";
  }

  #solarworks-article4 {
    display: none;
  }

  #solarworks-aside3 {
    display: none;
  }

  #solarworks-article1 {
    text-align: center;
  }

  #solarworks-article2 {
    text-align: center;
  }

  #solarworks-article3 {
    text-align: center;
  }

  #solarworks-article5 {
    text-align: center;
  }

  #solarworks-article6 {
    text-align: center;
  }

  #solarworks-aside1 {
    text-align: center;
  }

  #solarworks-aside2 {
    text-align: center;
  }


  /* eu solar page */
  #eugrid {
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "solar-article solar-article"
      "countrytable countrytable"
      "countrytable countrytable"
      "countrytable countrytable"
      "countrytable countrytable"
      "countrytable countrytable"
      "copyright-eurostat copyright-eurostat"
      "eusolar-aside2 eusolar-aside3"
      "eusolar-aside2 eusolar-aside3"
      "eusolar-aside2 eusolar-aside3";
    grid-gap: 3px;
  }

  .tablet {
    display: none;
  }

  #eusolar-aside1 {
    display: none;
  }

  #eusolar-aside2 {
    padding-top: 30px;
    width: 200px;
    height: auto;
    grid-area: eusolar-aside2;
    font-size: 80%;
  }

  #eusolar-aside3 {
    padding-top: 30px;
    width: 200px;
    height: auto;
    grid-area: eusolar-aside3;
    padding-bottom: 30px;
  }

  .aside-img {
    height: auto;
    width: 130px;
    margin: auto;
    display: block;
  }

  /* general footer */
  #footer-bottom {
    display: flex;
    flex-direction: row;
    background: #b22234;
    height: 80px;
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .checkbtn {
    display: block;
  }

  main {
    width: 100%;
  }

  header {
    width: 100%;
  }

  header img {
    display: none;
  }

  header h1 {
    font-size: 25px;
    text-align: center;
  }

  header h2 {
    font-size: 15px;
    text-align: center;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #3c3b6e;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-weight: bold;
    font-size: 25px;
  }

  a:hover, a.active {
    background: none;
    color: #b22234;
  }

  #check:checked~ul {
    left: 0;
  }

  /* home page */
  #flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  #video-container {
    display: none;
  }

  #product-container {
    order: 3;
    flex-basis: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  #aside-container {
    order: 1;
    flex-basis: 40%;
    flex-basis: 100%;
  }

  .video-index {
    display: none;
  }

  #index-article1 {
    order: 3;
    padding: 10px;
    font-size: 15px;
  }

  #index-article1 h1 {
    font-size: 20px;
  }

  #index-article1 img {
    width: 150px;
    padding: 10px;
    margin: auto;
  }

  #index-article2 {
    order: 2;
    padding: 10px;
    float: inherit;
    font-size: 15px;
  }

  #index-article2 h1 {
    font-size: 20px;
  }

  #index-article2 img {
    width: 150px;
    padding: 10px;
    margin: auto;
  }

  #index-article3 {
    order: 1;
    padding: 10px;
    font-size: 15px;
  }

  #index-article3 h1 {
    font-size: 20px;
  }

  #index-article3 img {
    width: 150px;
    margin: auto;
    padding: 10px;
  }

  #index-aside {
    text-align: center;
  }

  #index-aside h1 {
    font-size: 20px;
    list-style-position: inside;
  }

  #index-aside ol {
    list-style-position: inside;
    display: inline-block;
    text-align: left;
    font-size: 15px;
  }

  /* how solar works page */
  #gridsolarworks {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 5px;
    grid-template-areas:
      "solarworks-article5"
      "solarworks-article5"
      "solarworks-article5"
      "solarworks-article3"
      "solarworks-article3"
      "solarworks-article3"
      "solarworks-article2"
      "solarworks-article2"
      "solarworks-article2"
      "solarworks-article1"
      "solarworks-article1"
      "solarworks-article1"
      "solarworks-aside1"
      "solarworks-aside1"
      "solarworks-aside2"
      "solarworks-aside2"
      "solarworks-aside3"
      "solarworks-aside3";
  }

  #solarworks-article1 {
    text-align: center;
  }

  #solarworks-article2 {
    text-align: center;
  }

  #solarworks-article3 {
    text-align: center;
  }

  #solarworks-article4 {
    text-align: center;
  }

  #solarworks-article5 {
    text-align: center;
  }

  #solarworks-article6 {
    display: none;
  }

  #solarworks-aside1 {
    text-align: center;
  }

  #solarworks-aside2 {
    text-align: center;
  }

  #solarworks-aside3 {
    display: block;
    text-align: center;
  }

  /* contact page */
  #contact-grid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 3px;
    grid-template-areas:
      "contact-toparticle"
      "contactform"
      "contactform"
      "contactform"
      "contactform"
      "contactform"
      "contactform"
      "contactform"
      "contact-aside1"
      "contact-aside1"
      "contact-aside2"
      "contact-aside2"
      "contact-aside3"
      "contact-aside3";
  }

  /* eu solar page */
  .tablet {
    display: none;
  }

  .mobile {
    display: none;
  }

  #eugrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "countrytable"
      "countrytable"
      "countrytable"
      "countrytable"
      "countrytable"
      "countrytable"
      "countrytable"
      "copyright-eurostat"
      "eusolar-aside1"
      "eusolar-aside2"
      "eusolar-aside3";
    grid-gap: 3px;
  }

  #solar-article {
    display: none;
  }

  #eusolar-aside1 {
    display: block;
    padding-top: 30px;
    width: 300px;
    height: auto;
    margin: auto;
    grid-area: eusolar-aside1;
    font-size: 80%;
  }

  #eusolar-aside2 {
    padding-top: 30px;
    width: 300px;
    height: auto;
    margin: auto;
    grid-area: eusolar-aside2;
    font-size: 80%;
  }

  #eusolar-aside3 {
    padding-top: 30px;
    width: 300px;
    height: auto;
    margin: auto;
    grid-area: eusolar-aside3;
    font-size: 80%;
  }

  /* general footer */
  #footer-right h2 {
    font-size: 15px;
  }

  #footer-left h2 {
    font-size: 15px;
  }
}
