@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Oswald, sans-serif;
  background-image: url('../img/background.jpg');
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

header {
  position: relative;
  width: 80%;
  min-height: auto;
  color: #000;
  margin: auto;
  background-color: white;
}

header img {
  display: inline-block;
  float: left;
  width: 170px;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  text-transform: uppercase;
}

header h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  text-transform: capitalize;
}

nav {
  background: #b22234;
  height: 80px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active, a:hover {
  background: #3c3b6e;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: #ffffff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

main {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.videocontainer {
  order: 0;
  background-color: gray;
  background-image: url('../img/pattern.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: auto;
}

.videocontainer video {
  width: 100%;
  height: 500px;
}

.middle {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.article-container {
  order: 0;
  width: 60%;
}

.index-aside {
  order: 1;
  width: 50%;
  background-color: #ffffff;
  padding-left: 4%;
  float: right;
}

.index-aside ul {
  display: list-item;
  list-style-type: upper-roman;
  font-size: 30px;
}

.index-article1 {
  order: 0;
  flex-basis: auto;
  background-color: #ffffff;
}

.index-article1 img {
  width: 150px;
  float: right;
}

.index-article2 {
  order: 1;
  flex-basis: auto;
  background-color: #ffffff;
}

.index-article2 img {
  width: 150px;
  float: right;
}

.index-article3 {
  order: 2;
  flex-basis: auto;
  background-color: #ffffff;
}

.index-article3 img {
  width: 150px;
  float: right;
}

footer {
  display: flex;
  flex-direction: row;
  background: #b22234;
  height: 80px;
  width: 80%;
  margin: auto;
}

.footer-right {
  order: 2;
  flex: 1 0 0;
  background-color: #b22234;
  flex-basis: auto;
}

.footer-left {
  order: 1;
  flex: 2 0 0;
  background-color: #b22234;
  flex-basis: auto;
}

.footer-left h1 {
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  margin-left: 30px;
  margin-top: 25px;
}

@media (max-width: 1279px) {
  header {
    width: 100%;
  }

  header img {
    width: 130px;
  }

  header h1 {
    font-size: 35px;
  }

  header h2 {
    font-size: 20px;
  }

  nav ul li a {
    font-size: 15px;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .index-aside {
    order: 0;
    width: 100%;
    padding: inherit;
    text-align: center;
  }

  .videocontainer {
    order: 1;
  }

  .article-container {
    order: 2;
    width: 100%;
  }

  footer {
    flex-direction: row;
    background: #b22234;
    height: 80px;
    width: 100%;
  }

  .footer-right {
    order: 2;
    flex: 1 0 0;
    background-color: #b22234;
    flex-basis: auto;
  }

  .footer-right h1 {
    font-size: 2vw;
  }

  .footer-left {
    order: 1;
    flex: 1 0 0;
    background-color: #b22234;
    flex-basis: auto;
  }

  .footer-left h1 {
    font-size: 2vw;
  }
}

@media (max-width: 480px) {
  .checkbtn {
    display: block;
  }

  main {
    width: 100%;
  }

  header {
    width: 100%;
  }

  header img {
    display: none;
  }

  header h1 {
    font-size: 25px;
    text-align: center;
  }

  header h2 {
    font-size: 15px;
    text-align: center;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #3c3b6e;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-weight: bold;
    font-size: 25px;
  }

  a:hover, a.active {
    background: none;
    color: #b22234;
  }

  #check:checked~ul {
    left: 0;
  }

  .videocontainer {
    display: none;
  }

  .middle {
    display: flex;
    flex-direction: column;
  }

  .index-aside {
    order: 1;
    height: 100vw;
    width: 100%;
  }

  .index-aside ul li{
    font-size: 1px;
    color: black;
    text-align: justify;
  }


  footer {
    display: flex;
    flex-direction: row;
    background: #b22234;
    height: 80px;
  }

  .footer-right {
    order: 2;
    flex: 0 7 0;
    background-color: #b22234;
    flex-basis: auto;
  }

  .footer-right h1 {
    font-size: 4vw;
  }

  .footer-left {
    order: 1;
    flex: 1 0 0;
    background-color: #b22234;
    flex-basis: auto;
  }

  .footer-left h1 {
    font-size: 4vw;
  }
}
