@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Oswald, sans-serif;
  background-image: url('../img/background.jpg');
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

header {
  position: relative;
  width: 80%;
  min-height: auto;
  color: #000;
  margin: auto;
  background-color: white;
}

header img {
  display: inline-block;
  float: left;
  width: 170px;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  text-transform: uppercase;
}

header h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  text-transform: capitalize;
}

nav {
  background: #b22234;
  height: 80px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active, a:hover {
  background: #3c3b6e;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: #ffffff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

main {
  margin: auto;
  width: 80%;
  background-color: #ffffff;
}

#flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100%;


}

#video-container{
  flex: 1;
padding: 10px;
flex-basis: 100%;
display: flex;
  justify-content: center;
}


#product-container {
  flex-basis: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#aside-container {
  flex-basis: 30%;
  padding: 20px;
}

#video-container video {
  width: 60%;
  height: auto;
}

#index-article1 {
  order: 1;
padding: 10px;
}

#index-article1 img {
  width: 150px;
  float: right;
  padding: 10px;
}

#index-article2 {
  order: 2;
padding: 10px;
}

#index-article2 img {
  width: 150px;
  float: right;
  padding: 10px;
}

#index-article3 {
  order: 3;
padding: 10px;
}

#index-article3 img {
  width: 150px;
  float: right;
  padding: 10px;
}

#index-aside {
  text-align: center;

}

  #index-aside h1 {
  font-size: 25px;
  padding: 10px;
  list-style-position: inside;
  }

  #index-aside ol {
    list-style-position: inside;
    display: inline-block;
	text-align: left;
    font-size: 20px;
  }

footer {
  display: flex;
  flex-direction: row;
  background: #b22234;
  height: 80px;
  width: 80%;
  margin: auto;
}

#footer-right {
  float: right;
  width: 30%;
  height: 80px;
  opacity: 45%;
  background-color: #fa5454;
  text-align: center;
}

#footer-right h1 {
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  margin-top: 25px;
}

#footer-left {
  width: 70%;
  float: left;
  background-color: #b22234;
}

#footer-left h1 {
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  margin-left: 30px;
  margin-top: 25px;
}

@media (max-width: 1279px) {
  header {
    width: 100%;
  }

  header img {
    width: 130px;
  }

  header h1 {
    font-size: 35px;
  }

  header h2 {
    font-size: 20px;
  }

  nav ul li a {
    font-size: 15px;
  }

  main {
    width: 100%;
  }

  #flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 100%x;


  }

  #video-container{
    order: 2;
    flex: 1;

  flex-basis: 100%;
  }


  #product-container {
    order: 3;
    flex-basis: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  #aside-container {
    order: 1;
    flex-basis: 100%;

  }

  #video-container video {
    width: 100%;
    height: auto;
  }

  #index-article1 {
    order: 3;
  padding: 10px;
  }
  #index-article1 h1{
    text-align: center;
    padding: 10px;
  }

  #index-article1 img {
    width: 150px;
    float: left;
    padding: 10px;
  }

  #index-article2 {
    order: 2;
  padding: 10px;
  }

  #index-article2 h1{
    text-align: center;
    padding: 10px;
  }

  #index-article2 img {
    width: 150px;
    float: left;
    padding: 10px;
  }

  #index-article3 {
    order: 1;
  padding: 10px;
  }
  #index-article3 h1{
    text-align: center;
    padding: 10px;
  }

  #index-article3 img {
    width: 150px;
    float: left;
    padding: 10px;
  }


#index-aside {
  text-align: center;

}

  #index-aside h1 {
  font-size: 25px;
  list-style-position: inside;
  }

  #index-aside ol {
    list-style-position: inside;
    display: inline-block;
	text-align: left;
    font-size: 20px;
  }




  footer {
    display: flex;
    flex-direction: row;
    background: #b22234;
    height: 80px;
    width: 100%;
    margin: auto;
  }


}

@media (max-width: 480px) {
  .checkbtn {
    display: block;
  }

  main {
    width: 100%;
  }

  header {
    width: 100%;
  }

  header img {
    display: none;
  }

  header h1 {
    font-size: 25px;
    text-align: center;
  }

  header h2 {
    font-size: 15px;
    text-align: center;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #3c3b6e;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-weight: bold;
    font-size: 25px;
  }

  a:hover, a.active {
    background: none;
    color: #b22234;
  }

  #check:checked~ul {
    left: 0;
  }
  #flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
      justify-content: space-between;
      display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 100%x;


  }

  #video-container{
    display: none;
  }


  #product-container {
    order: 3;
    flex-basis: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  #aside-container {
    order: 1;
    flex-basis: 40%;
    flex-basis: 100%;
  }

  .video-index {
    display: none;
  }

  #index-article1 {
    order: 3;
  padding: 10px;
  font-size: 15px;
  }
#index-article1 h1{
  font-size: 20px;
}

  #index-article1 img {
    width: 150px;
    float: right;
    padding: 10px;
  }

  #index-article2 {
    order: 2;
  padding: 10px;
  float: inherit;
  font-size: 15px;
  }
  #index-article2 h1{
    font-size: 20px;
  }

  #index-article2 img {
    width: 150px;
    padding: 10px;
  }

  #index-article3 {
    order: 1;
  padding: 10px;
  font-size: 15px;
  }

  #index-article3 h1{
    font-size: 20px;
  }

  #index-article3 img {
    width: 150px;
    float: right;
    padding: 10px;
  }

  #index-aside {
    text-align: center;

  }

    #index-aside h1 {
    font-size: 20px;
    list-style-position: inside;
    }

    #index-aside ol {
      list-style-position: inside;
      display: inline-block;
  	text-align: left;
      font-size: 15px;
    }




}
